{% extends "layout.html" %}

{% block title %}Muokkaa arvostelua{% endblock %}

{% block content %}

<h1>Muokkaa arvostelua</h1>

<form action="/edit_post/{{ post.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <p>
    <label for="title">Elokuvan nimi:</label>:<br />
    <input type="text" name="title" id="title" value="{{ post.title }}" required maxlength="100"/>
  </p>

  <p>
    Päivämäärä jolloin katsoit elokuvan: <br />
    <input type="date" name="watch_date" value="{{ post.watch_date }}" required>
  </p>

  <p>
    Arvosana: <br />
    <input type="radio" name="rating" value="1" required {% if post.rating == 1 %}checked{% endif %}> ⭐<br>
    <input type="radio" name="rating" value="2" {% if post.rating == 2 %}checked{% endif %}> ⭐⭐<br>
    <input type="radio" name="rating" value="3" {% if post.rating == 3 %}checked{% endif %}> ⭐⭐⭐<br>
    <input type="radio" name="rating" value="4" {% if post.rating == 4 %}checked{% endif %}> ⭐⭐⭐⭐<br>
    <input type="radio" name="rating" value="5" {% if post.rating == 5 %}checked{% endif %}> ⭐⭐⭐⭐⭐<br>
  </p>

  <p>
    <label for="review_text">Arvostelu</label>:<br />
    <textarea name="review_text" id="review_text" rows="8" cols="70" required maxlength="4200">{{ post.review_text }}</textarea>
  </p>

  <p>
    Valitse genret: <br />
    {% for genre in ["Toiminta", "Draama", "Komedia", "Sci-fi", "Kauhu", "Romantiikka", "Dokumentti", "Seikkailu", "Fantasia", "Animaatio"] %}
      <label>
        <input type="checkbox" name="genres" value="{{ genre }}"
        {% for g in genres %}
          {% if g.name == genre %}checked{% endif %}
        {% endfor %}>
        {{ genre }}
      </label><br>
    {% endfor %}
  </p>

  <p>
    <label for="custom_genre">Omat genret (pilkulla erotettuna)</label>:<br />
    <input type="text" name="custom_genre" id="custom_genre" value="{{ custom_genre }}" maxlength="200" size="70">
  </p>

  <p>
    <input type="submit" value="Tallenna muutokset">
  </p>
</form>

{% endblock %}
