<!DOCTYPE html>
<html>

<head>
  <title>Elokuvien Arvostelu</title>
</head>

<body>
  <h1>Elokuvien Arvostelu Sovellus™</h1>

  {% if session.username %}
  <p>
    Tervetuloa takaisin, {{ session.username }}!
  </p>
  {% endif %}

  <p>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröidy</a>
    <a href="/logout">Kirjaudu ulos</a>
    </p>

    <p>
      <a href="new_post">Kirjoita uusi arvostelu!</a>
    </p>
    <hr> 
    <h2>Arvostelut:</h2>

    <ul>
      {% for post in posts %}
      <li><a href="/post/{{ post.id }}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>


</body>

</html>
