{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}

{% block content %}

{% if session.username %}
<p>
  <a href="/new_post">Kirjoita uusi arvostelu!</a>
</p>
{% endif %}

<h2>Arvostelut:</h2>
{% for post in posts %}
  <div class="item">
    <h3><a href="/post/{{ post.id }}">{{ post.title }}</a></h3>
    <p>Kirjoittanut: <a href="/user/{{ post.user_id }}">{{ post.username }}</a></p>
  </div>
{% endfor %}
<p>
  {% if page > 1 %}
    <a href="/page/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  Sivu {{ page }}/{{ page_count }}
  {% if page < page_count %}
    <a href="/page/{{ page + 1 }}">&gt;&gt;</a>
  {% endif %}
</p>
{% endblock %}