{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
  {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
  {% else %}
    <form action="/login" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <p>
        <label for="tunnus">Tunnus</label>:<br />
        <input type="text" name="username" id="tunnus" value="{{ username or '' }}"/>
      </p>
      <p>
        <label for="salasana">Salasana</label>:<br />
        <input type="password" name="password" id="salasana" />
      </p>
      <input type="submit" value="Kirjaudu" />
    </form>
  {% endif %}
{% endblock %}