{% extends "layout.html" %}

{% block title %}Kirjautuminen{% endblock %}

{% block content %}
  {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    <p>
      <a href="/logout">Kirjaudu ulos</a>
    </p>
  {% else %}
    <form action="/login" method="post">
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <p>
        Tunnus: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Salasana: <br />
        <input type="password" name="password" />
      </p>
      <input type="submit" value="Kirjaudu" />
    </form>
  {% endif %}
{% endblock %}
