{% extends "layout.html" %}

{% block title %}Uusi arvostelu{% endblock %}

{% block content %}
  <h1>Uusi arvostelu</h1>
  <form action="/create_post" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      <label for="title">Elokuva</label>:<br />
      <input type="text" name="title" id="title" required maxlength="100"/>
    </p>

    <p>
      Päivämäärä jolloin katsoit elokuvan: <br />
      <input type="date" name="watch_date" required max="{{ max_date }}">
    </p>

    <p>
      Arvosana: <br />
      <input type="radio" name="rating" value="1" required> ⭐<br>
      <input type="radio" name="rating" value="2"> ⭐⭐<br>
      <input type="radio" name="rating" value="3"> ⭐⭐⭐<br>
      <input type="radio" name="rating" value="4"> ⭐⭐⭐⭐<br>
      <input type="radio" name="rating" value="5"> ⭐⭐⭐⭐⭐<br>
    </p>

    <p>
      <label for="review_text">Arvostelu</label>:<br />
      <textarea name="review_text" id="review_text" rows="8" cols="70" required maxlength="4200"></textarea>
    </p>

    <p>
      Valitse genret: <br />
      <label><input type="checkbox" name="genres" value="Toiminta"> Toiminta</label>
      <label><input type="checkbox" name="genres" value="Draama"> Draama</label>
      <label><input type="checkbox" name="genres" value="Komedia"> Komedia</label>
      <label><input type="checkbox" name="genres" value="Sci-fi"> Sci-fi</label>
      <label><input type="checkbox" name="genres" value="Kauhu"> Kauhu</label>
      <label><input type="checkbox" name="genres" value="Romantiikka"> Romantiikka</label>
      <label><input type="checkbox" name="genres" value="Dokumentti"> Dokumentti</label>
      <label><input type="checkbox" name="genres" value="Seikkailu"> Seikkailu</label>
      <label><input type="checkbox" name="genres" value="Fantasia"> Fantasia</label>
      <label><input type="checkbox" name="genres" value="Animaatio"> Animaatio</label>
    </p>
    
    <p>
      <label for="custom_genre">Omat genret (pilkulla erotettuna)</label>:<br />
      <input type="text" name="custom_genre" id="custom_genre" maxlength="200">
    </p>

    <p>
      <input type="submit" value="Luo arvostelu" />
    </p>
  </form>
{% endblock %}
