{% extends "layout.html" %}

{% block title %}Rekisteröinti{% endblock %}

{% block content %}
  <form action="/create" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <p>
      <label for="tunnus">Tunnus</label>:<br />
      <input type="text" name="username" id="tunnus" value="{{ username or '' }}"/>
    </p>
    <p>
      <label for="salasana">Salasana</label>:<br />
      <input type="password" name="password1" id="salasana" />
    </p>
    <p>
      <label for="salasana2">Salasana uudestaan</label>:<br />
      <input type="password" name="password2" id="salasana2"/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
{% endblock %}