{% extends "layout.html" %}

{% block title %}Etsi arvostelua{% endblock %}

{% block content %}

<h2>Etsi arvostelu</h2>

<form action="/search_post" method="get">
  <p>
    <input type="text" name="query" value="{{ query or '' }}" />
    <input type="submit" value="Hae" />
  </p>
</form>

{% if query %}
  <hr />
  <h2>Arvostelut</h2>
  {% if results %}
    <ul>
      {% for post in results %}
        <li>
          <a href="/post/{{ post.id }}">
            {{ post.title }}
          </a>
        </li>  
      {% endfor %}
    </ul>
  {% else %}
    <p>Ei hakutuloksia.</p>
  {% endif %}
{% endif %}

{% endblock %}
