<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title }}</title>
  <style>
    .stars {
      color: gold;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <h1>{{ post.title }}</h1>

  <div>
    <p>Katsottu:</p>
    <p>{{ post.watch_date }}</p>
  </div>

  <div>
    <p>Arvosana:</p>
    <div class="stars">
      {% for _ in range(post.rating) %}
      ⭐
      {% endfor %}
    </div>
  </div>
  

  <div>
    <p>Arvostelu:</p>
    <p>{{ post.review_text }}</p>
  </div>

  {% if genres %}
  <p>Genret:</p>
  <ul>
    {% for genre in genres %}
      <li>{{ genre.name }}</li>
    {% endfor %}
  </ul>
{% endif %}

  <p>
    Arvostelija: <a href="/user/{{ post.user_id }}">{{ post.username }}</a>
  </p>

  {% if session.user_id == post.user_id %}
  <div>
    <button onclick="window.location.href='/edit_post/{{ post.id }}'">Muokkaa</button>
    <button onclick="window.location.href='/remove_post/{{ post.id }}'">Poista</button>
  </div>
{% endif %}

  <div>
    <button onclick="window.location.href='/'">Palaa kotisivulle</button>
  </div>
  
</body>

</html>