<!DOCTYPE html>
<html>

<head>
  <title>{{ post.title }}</title>
  <style>
    .stars {
      color: gold;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <h1>{{ post.title }}</h1>
  
  <div>
    <p>Kirjoittaja: {{ post.username }}</p>
  </div>

  <div>
    <p>Arvosana:</p>
    <div class="stars">
      {% for _ in range(post.rating) %}
      ⭐
      {% endfor %}
    </div>
  </div>
  
  <div>
    <p>Arvostelu:</p>
    <p>{{ post.review_text }}</p>
  </div>

  {% if session.user_id == post.user_id %}
  <div>
    <button onclick="window.location.href='/edit_post/{{ post.id }}'">Muokkaa arvostelua</button>
  </div>
{% endif %}


  <div>
    <button onclick="window.location.href='/'">Palaa alkusivulle</button>
  </div>
  
</body>

</html>